GROQ_API_KEY= your key 
NEXT_PUBLIC_SUPABASE_URL=your url
NEXT_PUBLIC_SUPABASE_ANON_KEY= your key 
SUPABASE_SERVICE_ROLE_KEY= your key
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your key
CLERK_SECRET_KEY=your key